@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SinchonRhapsody';
  src: url('../assets/fonts/SinchonRhapsody.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #e8edf3;
}